.ContenedorInformacion0 {
    align-items: center;
    height: 750px;
    background-color: #e0e0e1;
    display: flex;
}

.ContenedorInformacion2 {
    align-items: center;
    height: 700px;
    background-color: #e0e0e1;
    display: flex;
    align-items: center;
}

.ContenedorInformacion1 {
    align-items: center;
    height: 750px;
    background-color: #d6352d;
    display: flex;
}

.Route{
    position: relative;
    top: 60px;
    margin-bottom: 60px;
}

.TituloCreador{
    color: #d6352d;
    padding-top: 100px;
    font-size: 28px;
}

.parrafo11{
    text-align: left;
    margin-left: 35%;
    margin-top: 4%;
    width: 30%;
}

.Titulo2{
    color: #e0e0e1;
    padding-top: 20px;
    font-size: 28px;
}

.parrafo1{
    text-align: left;
    margin-left: 35%;
    width: 30%;
}

.ImagenCompetencias {
    width: 600px;
    height: 450px;
    margin: 30px 50px;
    margin-left: 22%;
}

.ImagenCompetencias1 {
    width: 600px;
    height: 450px;
    margin: 30px 50px;
    margin-left: 5%;
}

.ImagenCreadorDeporte {
    width: 322px;
    height: 450px;
    margin: 30px 00px;
    position: relative;
    right: 20%;
}

.balon {
    width: 322px;
    height: 200px;
    margin: 30px 00px;
    position: relative;
    right: 20%;
}

.TituloCompetencias {
    color: #d6352d;
    margin-left: 17%;
}
