.ContenedorInformacion0 {
    background-color: #e0e0e1;
    display: flex;
}

.ContenedorInformacion2 {
    background-color: #e0e0e1;
    display: flex;
}

.ContenedorInformacion1 {
    background-color:#a84428;
    display: flex;
}

.Route{
    position: relative;
    top: 60px;
    margin-bottom: 60px;
}

.TituloCreador{
    color: #bb7d69;
    padding-top: 100px;
    font-size: 28px;
}

.parrafo11{
    text-align: left;
    margin-left: 35%;
    margin-top: 4%;
    width: 30%;
}

.Titulo2{
    color: #e0e0e1;
    padding-top: 100px;
    font-size: 28px;
}

.parrafo1{
    text-align: left;
    margin-left: 35%;
    width: 30%;
}

.ImagenCompetencias {
    width: 322px;
    height: 450px;
    margin: 30px 50px;
}

.ImagenCreadorDeporte {
    width: 322px;
    height: 450px;
    margin: 30px 00px;
    position: relative;
    right: 20%;
}

.TituloCompetencias {
    color: #bb7d69;
    margin-left: 500px;
}
