.ContenedorInformacion {
    position: relative;
    left: 268px;
    /* top: 75px; */
    width: 80%;
    /* height: auto; */
}

.Route{
    position: relative;
    top: 75px;
}


.TituloCreador{
    padding-top: 100px;
    margin-left: 20%;
    text-align: left;
    font-size: 28px;
}

.parrafo1{
    text-align: left;
    margin-left: 20%;
    width: 20%;
    float: left;
}

.ImagenCreadorDeporte {
    /* float: right; */
    width: 322px;
    height: 450px;
    /* position: relative; */
    /* top: 100px; */
    /* right: 500px; */
}


