.container {
    display: inline-block;
    position: relative;
    border: 1px solid rgba(137, 43, 226, 0.184);
    width: 25%;
    min-width: 400px;
    min-height: 500px;
    height: 55vh;
    margin: 20px 20px;
    border-radius: 30px;
}

.ImagenEquipo:hover {
    animation: anim 5s ease;
}

@keyframes anim {
    10%{
        width: 70%;
        height: 50%;
    }

    100% {
        width: 60%;
        height: 40%;
    }
}

.ImagenEquipo{
    width: 60%;
    height: 40%;
    margin-top: 30px;
    object-fit: contain;
}

.titulo {
    text-decoration: none;
}