.contenedorNavigator {
    width: 90%;
    margin-left: 30px;
    height: 70px;
    display: flex;
    align-items: center;
}

.links {
    padding: 30px 100px 24px 100px;
    text-decoration: none;
}

.search {
    position: relative;
    padding: 30px 0px 24px 100px;
    text-decoration: none;
    left: 63%;
}

.square {
    background-color: gray;
}