
.contenedorNavigator {
    width: 90%;
    margin-left: 30px;
    height: 70px;
    display: flex;
    align-items: center;
}

.links {
    padding: 30px 100px 24px 100px;
    text-decoration: none;
}

.search {
    width: 100px;
    height: 60px;
    left: 100%;
}

.square {
    background-color: gray;
}