
.contenedorNavigator {
    width: 90%;
    margin-left: 30px;
    height: 70px;
    display: flex;
    align-items: center;
}

.links {
    margin-right: 100px;
    width: 100px;
    height: 60px;
}

.search {
    margin-left: 185%;
    width: 100px;
    height: 60px;
}

.square {
    background-color: gray;
    padding: 25px 24px;
}