.ContenedorFooter{
    position: relative;
    background-color:#0d1214;
    bottom: -213px;
}

.Footer{
    position: relative;
    display: inline-block;
    width: 20%; 
    left: -150px;
}

h6{
    text-align: left;
    padding: 0px 50px;
    color: rgb(255, 253, 253);
}

.links{
    text-decoration: none;
    color: rgb(255, 253, 253);
}

.LogoFooter{
    width: 100px;
    height: 150px;
    left: -200px;
    top: -5px;
    position:relative;
}