.ContenedorFooter{
    position: relative;
    /* top: 100px; */
    background-color: gray;
    padding: 10px;
    bottom: -200px;
}

.Footer{
    /* display: flex; */
    position: relative;
    width: 100%;
}

h6{
    text-align: left;
    padding: 0px 50px;
}